html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Helvetica", sans-serif;
  background-color: #243746;
}

button {
  border: none;
  background-color: unset;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  text-decoration: unset;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c50058;
  font-family: "Mukta", sans-serif;
}

.button:hover,
.button:focus {
  background-color: #d7347d;
}

.button:focus {
  border: 2px solid black;
}

/* App */

.App {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100vh;
  background-color: #FFF;
}

/* Header */

header {
  margin-bottom: 20px;
  background-color: #c50058;
  position: relative;
  padding: 20px;
  height: 77px;
  display: flex;
  align-items: center;
}

header h1 {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #FFF;
  margin: 0;
}

header .headerRight {
  display: flex;
  position: absolute;
  z-index: 2;
  top: -10px;
  right: 0;
}

header .headerRight .button {
  height: 87px;
  width: 77px;
}

header .headerRight .button.active,
header .headerRight .button:hover,
header .headerRight .button:focus {
  background-color: #d7347d;
  margin-top: 10px;
  border: none;
}

header .headerRight svg {
  padding-top: 10px;
  width: 25px;
}

/* Content Container */

.content {
  height: calc(100vh - 97px);
  overflow-y: scroll;
  padding: 0 20px;
}

/* Form */

form .formFieldContainer {
  margin-bottom: 20px;
}

form input {
  height: 48px;
  width: 100%;
  padding: 0 20px;
  border: 1px solid #243746;
  border-radius: 2px;
}

form input::placeholder {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #333333;
  opacity: 0.6;
}

.emailAutocomplete {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.addressAutocomplete {
  margin-bottom: 20px;
}

.emailAutocomplete button {
  position: relative;
  padding: 10px;
}

.addressAutocomplete button {
  position: relative;
  width: 100%;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
}

.emailAutocomplete button:after,
.addressAutocomplete button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  bottom: -3px;
  background-color: #c50058;
}

.emailAutocomplete button:hover,
.emailAutocomplete button:focus {
  outline: 3px solid #c50058;
}

.addressAutocomplete button:hover,
.addressAutocomplete button:focus {
  background-color: #c50058;
  color: #FFF;
}

form .formOptions .button {
  padding: 10px 15px;
  border-radius: 42px;
  margin-left: auto;
}

/* Address Book */

.addresses li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: #f6f6f4;
  padding: 10px;
  padding-right: 30px;
  border-radius: 5px;
  overflow-x: scroll;
  position: relative;
}

.addresses .contactLeft {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: #FFF;
  background-color: #c50058;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 0;
  width: 65px;
  min-width: 65px;
  border-radius: 100%;
  aspect-ratio: 1/1;
}

.addresses .contactRight p {
  margin: 0;
  line-height: 1.5;
}

.removeButton {
  position: absolute;
  padding: 5px 10px;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-family: "Mukta", sans-serif;
}

/* Media Queries */

@media(max-width: 522px) {
  header {
    padding: 20px;
    height: 50px;
  }

  header h1 {
    font-size: 2.5rem;
  }

  header .headerRight .button {
    height: 60px;
    width: 50px;
  }

  header .headerRight svg {
    width: 20px;
  }

  .content {
    height: calc(100vh - 70px);
  }
}

@media(max-width: 400px) {
  .addresses .contactLeft {
    font-size: 1.5rem;
    margin: 0 10px 0 0;
    min-width: 40px;
    width: 40px;
    border-radius: unset;
  }
}

@media(max-width: 396px) {
  header h1 {
    font-size: 1.75rem;
  }
}